<table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Comment ID</th>
      <th scope="col">Comment</th>
      <th scope="col">User</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{comment._id}}</td>
      <td>{{comment.comment}}</td>
      <td>{{comment.userId}}</td>
      <td>
        <span *ngFor="let tag of comment.tags" class="badge badge-primary tag">{{tag}}</span>
      </td>
    </tr>
  </tbody>
</table>